*{
  margin: 0%;
  padding: 0%;
}
#myBody{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(241.29deg, #4b494d 10.31%, #1a1919 93.41%);
    color: white;
    overflow: hidden; /* Isto retira a barra de rolagem do site */
    font-size: large;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#myHeader{
  
  
  width: 100%;
  height: 100px;
  background: linear-gradient(241.29deg, #4b494d 10.31%, #1a1919 93.41%);
  box-shadow:  0px 0px 14px -3px black;
}
#codeHtml{
  width: 300px;
  height: 400px;
}
#codeJs{
  width: 300px;
  height: 400px;
}
.corpoPaginas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#page1 {

  width: 600px;
    text-align: center;
    background: linear-gradient(241.29deg, #4d4a50 10.31%, #1a1919 93.41%);
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 800px;
    min-height: 500px;
    height: auto;
    box-shadow: 0px 0px 14px -3px black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

}
#page2 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

#run{
    background:linear-gradient(
    257.91deg,
    #c366ff 17.54%,
    #d37fc8 54.55%,
    #e95582 72.93%
  );
  font-weight:bold;
  color: white;

  user-select: none;
    cursor: pointer; 
}

#page2{
    display: none; /* display está invisivel*/
    

}
#teste2{
        width: 600px;
        text-align: left;
        background: linear-gradient(241.29deg, #4d4a50 10.31%, #1a1919 93.41%);
        margin-top: 30px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        width: 800px;
        min-height: 500px;
        height: auto;
        box-shadow: 0px 0px 14px -3px black;
        border-radius: 15px;
    
}
#teste2 n1{
 background-color: white;
}
input[type=text]{
background-color: white;
}
#teste2 h1{
    display: flex;
    color: white;
    font-size: 28px;
    justify-content: center;
    

}
#teste2 input#n1{
    background: white;
    border-radius: 12px;
    width: 100px;
    height: 40px;
    border-style: none;
    font-size: medium;
}
#teste2 input#n2{
    background: white;
    border-radius: 12px;
    width: 100px;
    height: 40px;
    border-style: none;
    font-size: medium;
}
#teste2 main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#button{
    width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  background: linear-gradient(
    257.91deg,
    #c366ff 17.54%,
    #d37fc8 54.55%,
    #e95582 72.93%
  );
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border-style: none;
  margin-top: 5%;
  transition: 0.2s;
  color: white;
  font-weight: 500;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;

}

  #teste2 input[type=button]{
    background: linear-gradient(
      257.91deg,
      #c366ff 17.54%,
      #d37fc8 54.55%,
      #e95582 72.93%
    );
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 5%;
    transition: 0.2s;
    color: white;
    font-weight: 500;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
  }



